<h3> Ceci est le dernier user ajouté à la base : n°<%= User.last.id %> </h3>

<p> <%= @user.username %> </p>
<p> <%= @user.email %> </p>
<p> <%= @user.bio %> </p>


<%= link_to 'Créer un nouvel utilisateur', new_user_path, class: 'btn btn-default'%>
